.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.post {
  background-color: lightpink;
  border: 2px solid hotpink;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
}

.post img {
  max-width: 100%;
  border-radius: 10px;
}

.post-page {
  padding: 40px;
  background-color: lightyellow;
}

h1 {
  color: hotpink;
  font-family: 'Pacifico', cursive;
}

img {
  width: 100px; /* Adjust width */
  height: auto;
  margin-right: 10px; /* Add margin between image and text */
  vertical-align: middle; /* Align image with text */
}
